.categories
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-height: 600px
    overflow-y: scroll
    h2
        margin-top: 5px
    p
        color: rgba(#BDBDBD, 85%)
        font-size: 15px
        margin-bottom: 35px
    &__block
        animation: test 0.2s ease-out
        &--img
            background-color: rgba(#FFFFFF, 50%)
            width: 215px
            height: 195px
            min-width: 215px
            min-height: 195px
            border-radius: 8px

@keyframes test
    0%
        opacity: 0
        transform: scale(80%)
    100%
        opacity: 1
        transform: scale(100%)
