.addC
    animation: opacityAnimation 0.2s
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 400px
    border: 1px solid rgba(233, 233, 233, 0.15)
    border-radius: 15px
    z-index: 9999
    padding: 40px
    background-color: #85545441
    overflow: hidden
    transition: 0.1s linear
    &__buttons
        text-align: center
        button
            margin: 15px
    input
        margin-bottom: 15px

.hide
    display: none

@keyframes opacityAnimation
    0%
        opacity: 0
    100%
        opacity: 1
