.task
    input
        margin-bottom: 2px
    &__block
        background-color: rgba(#F9FAFB, 50%)
        border-radius: 15px
        height: 65px
        margin-top: 20px
        display: flex
        justify-content: space-between
        align-items: center
        $size: 15px
        padding: 0 $size 0 $size
        &--bookmark
            background: #ffffff00
            border: 0
            cursor: pointer
