.tasks
    max-height: 600px
    overflow-y: scroll
    &__add
        display: flex
        align-items: center
        button
            min-width: 30%
            margin-left: 15px
    &__block
        animation: taskAnimation 0.2s ease-out
        background-color: rgba(#F9FAFB, 50%)
        border-radius: 8px
        min-height: 65px
        margin-top: 15px
        display: flex
        justify-content: space-between
        align-items: center
        $size: 15px
        padding: 0 $size 0 $size
        transition: 0.1s linear
        cursor: pointer
        h2
            max-width: 100%
            overflow: hidden
            padding: 15px
        &:hover
            transform: scale(98%)
        &--bookmark
            cursor: pointer
            background: #ffffff00
            border: 0
            transition: 0.1s linear

            &:hover
                transform: scale(108%)

.errorCategory
    height: 600px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    img
        height: 180px
    h1
        margin: 20px
    span
        color: #fca5a5

@keyframes taskAnimation
    0%
        opacity: 0
    100%
        opacity: 1
