.tasks
    max-height: 600px
    overflow-y: scroll
    &__add
        display: flex
        align-items: center
        button
            min-width: 30%
            margin-left: 15px
    &__block
        background-color: rgba(#F9FAFB, 50%)
        border-radius: 8px
        height: 65px
        margin-top: 15px
        display: flex
        justify-content: space-between
        align-items: center
        $size: 15px
        padding: 0 $size 0 $size
        &--bookmark
            background: #ffffff00
            border: 0
